@import url("https://fonts.googleapis.com/css?family=Montserrat");
body{
  background-color:grey;
  text-align: center;
}
#title{
font-size: 53px;
}
#title,#subtitle{
font-family: Montserrat,sans-serif;
 
}

.states {
  fill: none;
  stroke: #999;
  stroke-width: 1;
  stroke-linejoin: round;
  opacity: 0.75;
}
